@page
@model SciMet.Pages.Scientists.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div style="text-center"><h1 style = "padding: 3%;">Chi Tiết</h1></div>

<div style = "padding: 3%;">
    <h4>Scientist</h4>
    <hr />
    <dl class="row"> 
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scientist.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scientist.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scientist.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scientist.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scientist.Research)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scientist.Research)
        </dd>
    </dl>
</div>
<div style = "padding: 3%;">
    <a asp-page="./Index">Quay trở về</a>
</div>
