@page
@model SciMet.Pages.Scientists.IndexModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/home_page.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/scientists.css" asp-append-version="true" />

@* Scientists *@
<div class="scientists">
    <div class="row justify-content-center display-6 header">Danh sách nhà khoa học</div>
    <div class = "table-container">
        <p>
        @* <a asp-page="Create">Create New</a> *@
        </p>
        <form class="filter">
            <p> Tên: <input type="text" asp-for="SearchName" /> </p>
            <p> Chủ đề: <input type="text" asp-for="SearchResearch" /> </p>
            <p> <input type="submit" value="Tìm kiếm" /></p>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Scientist[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Scientist[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Scientist[0].Research)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Scientist) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Research)
                        </td>
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.ID">Chi tiết</a> 
                            @* <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>  *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




